NODE_ENV="development"
PORT=8080

KEY_JWT="sua_chave_jwt_super_secreta_aqui"

DATABASE_URL="postgresql://usuario:senha@host-pooler.neon.tech/neondb?pgbouncer=true"
DIRECT_URL="postgresql://usuario:senha@host-direto.neon.tech/neondb?sslmode=require"

SUPABASE_URL="https://seu-projeto.supabase.co"
SUPABASE_KEY="sua_chave_service_role_do_supabase_aqui"
